* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  font-family: 'Yusei Magic', sans-serif;
}
header {
  height: 50vh;
}
.title {
  height: 15%;
  margin: 2% 0;
}

.logo {
  width: 15%;
  height: 55%;
}
.menu {
  margin: 2%;
}
.menu a {
  text-decoration: none;
  color: #9c9c9c;
  text-transform: uppercase;
}

.slider {
  position: relative;
  height: 95%;
}
.banner {
  height: 85%;
  width: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
  border-radius: 20px;
}
.banner_text {
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.06);
  max-width: 600px;
}

main {
  height: 40vh;
}
.main_content {
  height: 100%;
}
.subtitle {
  width: 100%;
  height: 20%;
  border-radius: 10px;
  padding: 20px;
}
.subtitle h2 {
  font-size: 0.8em;
  color: #9c9c9c;
}

.col {
  float: left;
  height: 78%;
  border-radius: 10px;
  padding: 20px;
}

.col_left,
.col_right {
  width: 20%;
  overflow: auto;
}
.col_left .img {
  width: 100%;
  max-height: 150px;
  border-radius: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}
.col_right .img {
  width: 100%;
  max-height: 150px;
  border-radius: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}
.col_text {
  font-size: 0.8em;
  font-family: 'Bitter', serif;
  color: #9c9c9c;
}
.col_middle {
  width: 60%;
  overflow: auto;
}
.col_middle .img {
  width: 100%;
  max-height: 150px;
  border-radius: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}
.col_middle_text {
  font-family: 'Bitter', serif;
}

footer {
  height: 8vh;
  margin: 2% 0;
}
footer h3 {
  text-align: center;
  font-size: 0.8em;
  font-family: 'Bitter', serif;
}
footer h3::after {
  content: '\2764';
  color: red;
  font-size: 20px;

}
